*{
    margin:0%;
    padding:0%
}
.f-nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(233, 32, 132);
    padding: 20px;
}
.feature{
    display: flex;
}
.feature .app{
    display: flex;
    margin-inline: 22px;
}
.feature .app i{
    margin-inline: 8px;
}
.sec-nav{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    /* padding: 11px; */
    border-bottom: 1px solid grey;
    margin-top: 8px;
    /* margin-bottom: 2px; */
}
.sec-nav ul li img{
    width: 8%;
}
.sec-nav ul li a{
    margin-inline: 22px;
}
.sec-nav ul li a:hover {
    color: #e91e63;
  }

.sec-nav .inputs{
display: flex;

}
.sec-nav .inputs button{
    margin-inline: 16px;
}
.sec-nav .inputs input{
    
    width: 220px;
    /* background-color: rgb(233, 32, 132); */
    background-color: rgb(235, 230, 230);
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
    margin-right: 20px;
}
.sec-nav .inputs button{
    margin-left: 22px;
    width: 80px;
    height: 35px;
    background-color: rgb(233, 32, 132);
    color: rgb(235, 230, 230);
    font-size: 17px;
    border: none;
    border-radius: 5px;

}
.items{
    outline: none;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    
}
.items ul li a{
    margin-inline: 22px;
}
.items ul li a:hover {
    color: #e91e63;
  }
.items ul li button{
    width: 100px;
    height: 34px;
    background-color: rgb(233, 32, 132);
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}
.items ul li {
    list-style: none;
}
